{% load static %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>RecRoom</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="../../../static/frontend/css/main.css" />
<!-- Pinterest Tag -->
<script>
  !function (e) {
    if (!window.pintrk) {
      window.pintrk = function () {
        window.pintrk.queue.push(Array.prototype.slice.call(arguments))
      }; var
        n = window.pintrk; n.queue = [], n.version = "3.0"; var
          t = document.createElement("script"); t.async = !0, t.src = e; var
            r = document.getElementsByTagName("script")[0];
      r.parentNode.insertBefore(t, r)
    }
  }("https://s.pinimg.com/ct/core.js");
  pintrk('load', '2613725417222', {em: 'ianpierreg@hotmail.com'});
  pintrk('page');
</script>
<noscript>
  <img height="1" width="1" style="display:none;" alt=""
    src="https://ct.pinterest.com/v3/?event=init&tid=2613725417222&pd[em]=<hashed_email_address>&noscript=1" />
</noscript>
<!-- end Pinterest Tag -->
<script>
  pintrk('track', 'addtocart', {
    value: 100,
    order_quantity: 1,
    currency: 'USD'
  });
</script>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="ind'ex.html">RecRoom</a>
			</header>


		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>RecRoom</h1>
                    <p>Plataforma de compartilhamento de moradia universitária</p>
				</div>
				<video autoplay loop muted playsinline src="../../../static/frontend/images/banner.mp4"></video>
			</section>

		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Como RecRoom funciona?</h2>
{#						<p>Sabe aquela preocupação em ter que achar uma moradia compartilhada sem saber se você se dará bem com atuais e futuros moradores?#}
{#                            Então, Resolvemos esse problema para você!.#}
{#                        </p>#}
{#                        <button>Saiba mais</button>#}
					</header>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-vcard-o"><span class="label">Icon</span></a>
									<h3>Cadastre o seu perfil</h3>
								</header>
								<p>Forneça informações básicas e responda perguntas de múltiplas escolhas para que a gente construa o seu perfil</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-list-ol"><span class="label">Icon</span></a>
									<h3>Ranking</h3>
								</header>
								<p>Receba uma lista de moradias que mais combinam com você em forma de ranking</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-star"><span class="label">Icon</span></a>
									<h3>Ajude-nos avaliando</h3>
								</header>
								<p>Por favor, avalie as opções na listagem do ranking utilizando as estrelas ao lado do nome</p>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- CTA -->
			<section id="cta" class="wrapper">
				<div class="inner">
                    <h2>O que é o RecRoom</h2>
                    <p class="weight">Sabe aquela preocupação em ter que achar uma moradia compartilhada sem saber se você se dará bem com atuais e futuros moradores?
                        Então, Resolvemos esse problema para você!.
                    </p>
                    <button>Saiba mais</button>
                </div>
			</section>

		<!-- Testimonials -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
                        <h3>RecRoom é um projeto experimental</h3>
                            <p>
                                O RecRoom trata-se de um projeto experimental, desenvolvido como trabalho de conclusão de curso.
                                O <i>core</i> do sistema utiliza o algoritmo de similaridade do cosseno para definir as posições
                                das casas nas listagens mostradas ao usuário. Todas moradias, perfis e atributos do sistema são fictícios.
                            </p>
                    </header>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>RecRoom é um projeto experimental</h3>
                            <p>
                                O RecRoom trata-se de um projeto experimental, desenvolvido como trabalho de conclusão de curso.
                                O <i>core</i> do sistema utiliza o algoritmo de similaridade do cosseno para definir as posições
                                das casas nas listagens mostradas ao usuário. Todas moradias, perfis e atributos do sistema são fictícios.
                            </p>
                        </section>
					</div>
					<div class="copyright">
						&copy; Trabalho de conclusão de curso. <br /> Desenvolvido por <a href="https://www.linkedin.com/in/ian-pierre-dev/">Ian Pierre</a>.
					</div>
				</div>
			</footer>

		<!-- Scripts -->
        <script src="{% static 'frontend/assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'frontend/assets/js/browser.min.js' %}"></script>
		<script src="{% static 'frontend/assets/js/breakpoints.min.js' %}"></script>
        <script src="{% static 'frontend/assets/js/util.js' %}"></script>
        <script src="{% static 'frontend/assets/js/main.js' %}"></script>
	</body>
</html>