<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <link rel="stylesheet" href="../../../static/frontend/css/bulma-checkradio/checkradio.css">
  <link rel="stylesheet" href="../../../static/frontend/css/wizard.css">
  <title>RecRoom - O quarto ideal para você!</title>
</head>
<body>
    <div id="app"><!-- React --></div>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>RecRoom</strong> por <a href="#">Ian Pierre</a>. Projeto de
                <a href="#">TCC</a>.
            </p>
        </div>
    </footer>
</body>
{% csrf_token %}
{% block scripts %}
{% endblock %}
</html>