{% load static %}
<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <link rel="stylesheet" href="{% static 'frontend/css/bulma-checkradio/checkradio.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/wizard.css' %}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&display=swap" rel="stylesheet">

    <title>RecRoom - O quarto ideal para você!</title>
</head>
<body>
    <div id="app"><!-- React --></div>
</body>
{% csrf_token %}
{% block scripts %}
{% endblock %}
</html>