{% extends './common/base.html'%}

{% block scripts %}
    {% load static %}
    <script src="{% static "frontend/build/main.js" %}"></script>

    <script src="{% static "frontend/assets/js/jquery.min.js" %}"></script>
    <script src="{% static "frontend/assets/js/browser.min.js" %}"></script>
    <script src="{% static "frontend/assets/js/breakpoints.min.js" %}"></script>
    <script src="{% static "frontend/assets/js/util.js" %}"></script>
    <script src="{% static "frontend/assets/js/main.js" %}"></script>
{% endblock %}
